
<div class="list-page">
  <h1><%= @list.title %></h1>
  <div class="row">

    <div class="col-md-3">
      <% if @list.open %>
        <p>Voting for this list is still open...</p>
      <% end %>

      <% if @list.owner == current_user && @list.open %>
        <p><%= link_to "Close this list...", list_close_path(@list) %></p>
      <% end %>

      <% if @list.voters.include?(current_user) %>
        <% @ballot = @list.ballots.find_by(voter: current_user) %>
        <p><%= link_to "Adjust your ballot", @ballot %></p>

      <% elsif user_signed_in? %>
        <form class="add-ballot-btn" action="/ballots" method="post">
          <input type="hidden" name="list_id" value="<%= @list.id %>">
          <input type="submit" value="Create your ballot">
        </form>
      <% else %>
        <p><%= link_to "Log in to contribute", '/login' %></p>
      <% end %>
      <p>Created by: <%= @list.owner.username %></p>

      <p>Contributors so far:
      <% @list_data[:voters].each do |voter| %>
        <a href="/ballots/<%= voter[:ballot_id] %>"><%= voter[:username] %></a>
      <% end %>
    </p>
    </div>

    <div class="col-md-9">
      <%= react_component "ListResults", results: @list_data[:results].sort_by {|result| result[:points]}.reverse %>
    </div>

  </div>
</div>
