<div class="static-ballot">
  <h3><a href="/lists/<%= @ballot.list.id %>"><%= @ballot.list.title %></a> | <%= link_to @ballot.voter.username, user_path(@ballot.voter) %></h3>
  <% @votes.each do |vote| %>
    <div class="vote row rowfix" >
      <div class="rank col-md-1">
        <%= vote.rank %>
      </div>

      <div class="col-md-10 vote-info">
        <p class="title"><%= vote.discog.artist %> - <i><%= vote.discog.title %></i></p>
        <p class="other-album-info"><%= vote.discog.year %> | <%= vote.discog.label %></p>
      </div>
    </div>
  <% end %>
</div>
